/* Remove default margin and padding */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
pre,
figure,
hr {
  margin: 0;
  padding: 0;
}

/* Optional: remove list styles */
ul,
ol {
  list-style: none;
}

/* Optional: Normalize font inheritance */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
  font-weight: normal;
  line-height: normal !important;
}

/* Optional: Remove bottom spacing in buttons/inputs */
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font: inherit;
}
