.pulsing-wrapper {
  position: relative;
  display: flex;
  height: 8px;
  width: 8px;
}

.pulsing-circle {
  border-radius: 9999px;
  height: 8px;
  width: 8px;
  display: inline-flex;
}

.ping {
  position: absolute;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  opacity: 0.75;
}

/* Color variants */
.pulsing-success {
  background-color: #86efac;
}

.pulsing-warning {
  background-color: #fde68a;
}

.pulsing-info {
  background-color: #c4b5fd;
}

.pulsing-error {
  background-color: #fca5a5;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
